.prod-desc
{
    min-height: 150px;
}

.btn-mrg
{
    margin-bottom:5px;
}

.delimiter
{
    margin-right: 10px;
}

.wr
{
    overflow-wrap: break-word;
}

.line-offset
{
    margin-top: 6px;
    margin-bottom: 6px;
}

.alert-hidden
{
    display: none; 
}

.gridrow
{
    clear: both;
}

.thumbnail > .thumb-fixed
{
    height: 100px !important;
    margin-bottom: 0px !important;
    cursor: pointer;
}

.image_picker_image > .thumb-fixed
{
    height: 88px !important;
}


.float-button
{
    transition: opacity 0.4s ease-in-out;
    position: absolute;
    opacity: 0.3;
}

.float-button:hover
{
    opacity: 1.0;
}

.left-line
{
    border-left: 1px solid #d5d5d5;
}

.article_intro
{
    text-align: justify;
    height:100px;
    overflow: hidden;
}

.navbar-offset
{
    margin-top: 53px;
}

.nav-bar
{
    border-radius: 0px !important;
}

.top-nav-line 
{
    margin-top: 0px;
}

.sol-item > h2
{
    text-align: center
}

.sol-item > p
{
    text-align: center
}

.subtitle
{
    font-size: smaller;
    margin: 0px;
}

.material-switch
{
    margin-top: 15px;
    margin-bottom: 15px;
}

.material-switch > input[type="checkbox"]
{
    display: none;
}

.material-switch > label
{
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch > label::before
{
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position: absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}

.material-switch > label::after
{
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}

.material-switch > input[type="checkbox"]:checked + label::before
{
    background: inherit;
    opacity: 0.5;
}

.material-switch > input[type="checkbox"]:checked + label::after
{
    background: inherit;
    left: 20px;
}




.image_profile_subtitle
{
    border-radius: 50%;
    width: 23px;
    height: 23px;
    margin: 5px;
}


.image_profile_thumb_50
{
    border-radius: 5px;
    width: 50px;
    height: 50px;
}

.image_profile_thumb_25
{
    border-radius: 3px;
    width: 25px;
    height: 25px;
    margin-right: 3px;
}

.image_profile_thumb_20
{
    border-radius: 2px;
    width: 20px;
    height: 20px;
    margin-right: 3px;
}

.profile
{
    line-height: 2;
}

.title
{
    font-weight: bold;
    text-align: right;
}

.container-top
{
    /* margin-top: 60px; */
}

.sol_thumb
{
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.navbar-inverse .navbar-nav > li > a
{
    color: #fff;
}

.footer-dark
{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 10px;
    color: #ddd;
    background-color: #2a2730;
}

.footer-dark a
{
    color: #b1b1b1;
}

.select-grid
{
    padding-bottom: 30px;
}

.select-grid .tile .btn-default
{
    color: #eee;
    background-color: rgba(155, 155, 155, 0.26);
    border-color: rgba(255, 255, 255, 0.36);
}

.select-grid .tile .btn-default:hover
{
    color: #fff;
    background-color: rgba(255, 255, 255, 0.36);
    border-color: rgba(255, 255, 255, 0.66);
}

.select-grid .tile .select-cell
{
    transition: all 2s;
    margin: -20%;
    transform: scale3d(1.0, 1.0, 1);
    -moz-transform: scale3d(1.0, 1.0, 1);
    -ms-transform: scale3d(1.0, 1.0, 1);
    -webkit-transform: scale3d(1.0, 1.0, 1);
    -o-transform: scale3d(1.0, 1.0, 1);
    transition: all 4s;
    -webkit-transition: all 4s;
    -moz-transition: all 4s;
    -o-transition: all 4s;
    filter: brightness(80%) blur(3px);
    -webkit-filter: brightness(80%) blur(3px);
}

.select-grid .tile:hover .select-cell
{
    -webkit-animation-duration: 1.3s;
    animation-duration: 3.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    
        transform: scale3d(1.1,1.1,1);
    -moz-transform: scale3d(1.1,1.1,1);
    -ms-transform: scale3d(1.1,1.1,1);
    -webkit-transform: scale3d(1.1,1.1,1);
    -o-transform: scale3d(1.1,1.1,1);
    

    
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    filter: brightness(100%) blur(0px);
    -webkit-filter: brightness(100%) blur(0px);
}

.select-grid .tile .cell-caption
{
    position: absolute;
    padding: 10px;
    bottom: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-transition: all 3s;
    -moz-transition: all 2s;
    -o-transition: all 3s;
    transition: all 3s;
}

.select-grid .tile:hover .cell-caption
{
    background-color: rgba(0, 0, 0, 0.6);
}

.select-grid .tile .cell-caption p
{
    color: #fff;
    text-shadow: 1px 1px 2px black;
}

.select-grid .tile .cell-caption h3
{
    margin-top: 10px;
    color: #fff;
    font-weight: bolder;
    text-shadow: 1px 1px 2px black;
}

.solution_desc
{
    text-align: justify;
}