{% extends 'app/admin_panel_base.html' %}
{% block content %}
<div class="container-fluid">
    <ol class="breadcrumb">
      <li><a href="/">Главная</a></li>
      <li><a href="/adm/">Администрирование</a></li>
      <li><a href="/adm/slideshow/">Слайдшоу</a></li>
      <li class="active">Редактирование</li>
    </ol>
    <h1>Редактирование пункта слайдшоу</h1>
    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">{% csrf_token %}
        <div class="form-group">
            <label for="order" class="col-sm-1 control-label">Порядок</label>
            <div class="col-sm-4">
                <input type="number" class="form-control bfh-number" id="order" name="order" value="{{item.order}}">
            </div>

            <label for="upload_image" class="col-sm-1 control-label">Изображение</label>
            <div class="col-sm-2">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".sel_grid_img">Выбрать на сайте</button>
                <div class="modal fade sel_grid_img" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="gridSystemModalLabel">Выбор изображения на сайте</h4>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <select class="form-control img-pick" id="slide_image" name="slide_image">  
                                <option data-img-label='Загруженное с компьютера' data-img-class="thumb-fixed" data-img-src='/static/img/upload.png' value="picked">Загруженное</option>                               
                                {% for file in files %}{% with "media/images/"|add:file as path %}
                                <option data-img-class="thumb-fixed" data-img-src='/media/images/{{file}}' {% if item.background == file %} selected {% endif %} value="media/images/{{file}}">
                                {{file}}
                                </option>
                                {% endwith %}{%endfor%}
                            </select>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <label class="btn btn-default btn-file">Обзор...<input type="file" id ="upload_image"name="upload_cell_image" style="display: none;"></label>
            </div>

        </div>

        <div class="form-group">
            <label for="title" class="col-sm-1 control-label">Заголовок</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="title" name="title" value="{{item.title}}">
            </div>

            <label for="description" class="col-sm-1 control-label">Описание</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="description" name="description" value="{{item.description}}">
            </div>
        </div>

        <div class="form-group">
            <label for="button_text" class="col-sm-1 control-label">Текст кнопки</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="button_text" name="button_text" value="{{item.button_text}}">
            </div>

            <label for="button_url" class="col-sm-1 control-label">Адрес ссылки</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="button_url" name="button_url" value="{{item.button_url}}">
            </div>
        </div>

        <!-- Кнопка сохранения -->
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <button type="submit" class="btn btn-primary col-sm-3">Сохранить</button>
            </div>
         </div>

    </form>
	{% if error == 1 %}
    <div class="alert alert-danger" role="alert">
        <strong>Заполнены не все обязательны поля</strong>
    </div>
    {% endif %}
</div>
<script type="text/javascript">
$("select.img-pick").imagepicker({hide_select: true});
</script>
{% endblock content %}