{% extends 'app/admin_panel_base.html' %}
{% block content %}
<div class="container-fluid">
    <ol class="breadcrumb">
      <li><a href="/">Главная</a></li>
      <li><a href="/adm/">Администрирование</a></li>
      <li class="active">Страницы</li>
    </ol>
    <h1>Страницы
    <span class="actions">
        <a class="btn btn-default" href="add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
    </span>
    </h1>
    {% if pages %}
    <table class="table table-striped"> 
        <thead>
            <tr>
                <th>#</th>
                <th>Заголовок</th>
                <th>Видимость</th>
                <th class="hidden-xs">Адрес</th>
                <th>X</th>
            </tr>
        </thead>
        {% for page in pages %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="/adm/pages/{{ page.pk }}/"> {{ page.name }} </a></td>
            <td class="hidden-xs">{% if page.visible == True %}Да{% else %}Нет{% endif %}</td>
            <td>{{ page.url }}</td>       
            <td><a class="btn btn-default" href="/adm/pages/delete/{{ page.pk }}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>Страниц не найдено</p>
    {% endif %}
</div>
{% endblock content %}