{% extends 'app/admin_panel_base.html' %}
{% block content %}
<div class="container-fluid">
    <ol class="breadcrumb">
      <li><a href="/">Главная</a></li>
      <li><a href="/adm/">Администрирование</a></li>
      <li class="active">Слайдшоу</li>
    </ol>

    <h1>Слайдшоу
    <span class="actions">
        <a class="btn btn-default" href="add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
    </span>
    </h1>
    {% if items %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Порядок</th>
                <th>Заголовок</th>
                <th>Изображение</th>
                <th class="hidden-xs hidden-sm">Текст кнопки</th>
                <th class="hidden-xs hidden-sm">Адрес</th>
                <th>Действия</th>
            </tr>
        </thead>
        {% for item in items %}
        <tr>
            <td>{{ item.order }}</td>
            <td><a href="{{ item.pk }}">{% if item.title %}{{ item.title }}{%else%}[Без заголовка]{%endif%}</a></td>
            <td>{{ item.background }}</td>
            <td class="hidden-xs hidden-sm">{{ item.button_text }}</td>
            <td class="hidden-xs hidden-sm">{{ item.button_url }}</td>
            <td>
                <a class="btn btn-default" href="delete/{{ item.pk }}/">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>Слайдшоу не создано</p>
    {% endif %}
</div>
{% endblock content %}