{% extends 'app/admin_panel_base.html' %}
{% block content %}
<div class="container-fluid">
    <ol class="breadcrumb">
      <li><a href="/">Главная</a></li>
      <li><a href="/adm/">Администрирование</a></li>
      <li class="active">Обратная связь</li>
    </ol>
    <h1>Обратная связь</h1>
    {% if feedbacks %}
    <table class="table table-striped"> 
        <thead>
            <tr>
                <th>#</th>
                <th>Тема</th> 
                <th>Автор</th>
                <th>Дата</th>
                <th>X</th>
            </tr>
        </thead>
        {% for feedback in feedbacks %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="/adm/feedback/{{ feedback.pk }}/">{{ feedback.topic }}</a></td>  
            <td>{{ feedback.author }}</td>
            <td>{{ feedback.created_date|date:'j E Y H:i' }}</td> 
            <td><a class="btn btn-default" href="/adm/feedback/delete/{{ feedback.pk }}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>Сообщений не найдено</p>
    {% endif %}
</div>
{% endblock content %}