{% block navbar %} {% load mytags %}
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> 
				<span class="sr-only">Toggle navigation</span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 
			</button>
            <a href="/adm/" class="navbar-brand">Администрирование</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Сайт<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/adm/settings/">Настройки</a></li>
                        <li role="separator" class="divider"></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Пользователи<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/adm/users/">Управление</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/adm/users/add/">Создать</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Магазин<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/adm/shop/">Управление</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/adm/shop/categories/">Категории</a></li>
                        <li><a href="/adm/shop/add/">Добавить</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/adm/shop/orders/">Заказы</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Решения<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/adm/solutions/">Управление</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/adm/solutions/add/">Добавить</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Слайдшоу<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/adm/slideshow/">Управление</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/adm/slideshow/add/">Добавить</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Статьи<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/adm/articles/">Управление</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/adm/articles/add/">Добавить</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Страницы<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/adm/pages/">Управление</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/adm/pages/add/">Добавить</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Меню<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/adm/menu/">Управление</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/adm/menu/add/">Добавить</a></li>
                    </ul>
                </li>

                <li><a href="/adm/upload/">Файлы</a></li>
                <li><a href="/adm/feedback/">Обратная связь {% render_feedback_count %}</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <img src="/../../media/users/{{request.user.userprofile.avatar|thumb}}" class="image_profile_thumb_20"> {{ request.user.first_name }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% if user.is_superuser %}
                        <li><a href="/adm/"><span class="glyphicon glyphicon-king"></span> Администрирование</a></li>
                        <li role="separator" class="divider"></li>
                        {% endif %}
                        <li><a href="/profile/"><span class="glyphicon glyphicon-home"></span> Профиль</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout/"><span class="glyphicon glyphicon-log-out"></span> Выйти</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="/login">Войти</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock navbar %}