{% extends 'app/admin_panel_base.html' %}
{% block content %}
<div class="container-fluid">
    <ol class="breadcrumb">
      <li><a href="/">Главная</a></li>
      <li><a href="/adm">Администрирование</a></li>
      <li><a href="/adm/users/">Пользователи</a></li>
      <li class="active">Редактирование</li>
    </ol>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2   col-lg-6 col-lg-offset-3">
            <div class="col-sm-4">
                <img alt="Изображение профиля" src="/../../media/users/{% if profile.user.userprofile.avatar == "" %}unknown.jpg{% else %}{{profile.user.userprofile.avatar}}{%endif%}" 
                        id="profile-image" class="image_profile img-responsive center-block">                
            </div>
            <div class="col-sm-8">
                <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">{% csrf_token %}
                    <div class="form-group">
                        <label for="upload_image" class="col-sm-6 control-label">Фото</label>
                        <div class="col-sm-5">
                        <label class="btn btn-default btn-file">Выбрать изображение<input accept="image/jpeg,image/png,image/gif" type="file" name="upload_image" style="display: none;"></label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="activated" class="col-sm-6 control-label">Активен</label>
                        <div class="col-sm-5">
                            <div class="material-switch">
                                <input type="checkbox" id="activated" name="activated"{% if profile.user.is_active == True %}checked {% endif %}>
                                <label for="activated" class="label-primary"></label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="username" class="col-sm-6 control-label">Логин</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="username" name="username" placeholder="Имя" value="{{profile.user.username}}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password2" class="col-sm-6 control-label">Пароль</label>
                        <div class="col-sm-5">
                            <input type="password" class="form-control" id="new_pass" name="password" placeholder="Пароль">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="first_name" class="col-sm-6 control-label">Имя</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Имя" value="{{profile.user.first_name}}">
                        </div>     
                    </div>

                    <div class="form-group">
                        <label for="second_name" class="col-sm-6 control-label">Фамилия</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="second_name" name="second_name" placeholder="Фамилия" value="{{profile.user.last_name}}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="patronymic" class="col-sm-6 control-label">Отчество</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="patronymic" name="patronymic" placeholder="Отчество" value="{{profile.patronymic}}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email" class="col-sm-6 control-label">E-Mail</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="email" name="email" placeholder="email" value="{{profile.user.email}}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="company" class="col-sm-6 control-label">Компания</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="company" name="company" placeholder="Компания" value="{{profile.company}}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="address" class="col-sm-6 control-label">Адрес компании</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="address" name="address" placeholder="Адрес" value="{{profile.address}}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="phone" class="col-sm-6 control-label">Телефон</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="phone" name="phone" placeholder="" value="{{profile.phone}}">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr style="margin:5px 0 5px 0;">
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <button type="submit" class="btn btn-primary">Сохранить профиль</button>
                        </div>
                    </div>
                    {% if error == 1 %}
                    <div class="alert alert-sucess" role="alert">
                        <strong>Данные профиля успешно обновлены</strong>
                    </div>
                    {% endif %}

                    {% if error == 2 %}
                    <div class="alert alert-danger" role="alert">
                        <strong>Заполнены не все поля</strong>
                    </div>
                    {% endif %}

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}