{% extends 'app/admin_panel_base.html' %}
{% block content %}
<div class="container-fluid">
    <ol class="breadcrumb">
      <li><a href="/">Главная</a></li>
      <li><a href="/adm/">Администрирование</a></li>
      <li class="active">Меню</li>
    </ol>

    <h1>Меню
    <span class="actions">
        <a class="btn btn-default" href="add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
    </span>
    </h1>
    {% if items %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Заголовок</th>
                <th>Порядок</th>
                <th>Имя</th>
                <th class="hidden-xs hidden-sm">Родительский пункт</th>
                <th class="hidden-xs hidden-sm">Адрес</th>
                <th class="hidden-xs hidden-sm">Подпункты</th>
                <th>Действия</th>
            </tr>
        </thead>
        {% for item in items %}
        <tr>
            <td><a href="{{ item.pk }}">{{ item.title }}</a></td>
            <td>{{ item.order }}</td>
            <td>{{ item.name }}</td>
            <td class="hidden-xs hidden-sm">{{ item.parent }}</td>
            <td class="hidden-xs hidden-sm">{{ item.url }}</td>
            <td class="hidden-xs hidden-sm">{% if item.is_parent == True %}Да{% else %}Нет{% endif %}</td>
            <td>
                <a class="btn btn-default" href="delete/{{ item.pk }}">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>Меню не создано</p>
    {% endif %}
</div>
{% endblock content %}