{% extends 'app/admin_panel_base.html' %}
{% block content %}
<div class="container-fluid">
    <ol class="breadcrumb">
      <li><a href="/">Главная</a></li>
      <li><a href="/adm/">Администрирование</a></li>
      <li><a href="/adm/slideshow/">Слайдшоу</a></li>
      <li class="active">Добавить</li>
    </ol>
    <h1>Добавление пункта слайдшоу</h1>
    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">{% csrf_token %}
        <div class="form-group">
            <label for="order" class="col-sm-1 control-label">Порядок</label>
            <div class="col-sm-4">
                <input type="number" class="form-control" id="order" name="order" value="0">
            </div>

            <label for="upload_image" class="col-sm-1 control-label">Изображение</label>
            <div class="col-sm-2">
                <select class="form-control" id="slide_image" name="slide_image">
                    <option value="picked" selected>[Выбранный файл]</option>
                    {% for file in files %}
                    <option value="{{file}}">{{file}}</option>
                    {%endfor%}
                </select> 
            </div>
            <div class="col-sm-3">
                <label class="btn btn-default btn-file">Выбрать изображение<input type="file" id ="upload_image"name="upload_image" style="display: none;"></label>
            </div>

        </div>

        <div class="form-group">
            <label for="title" class="col-sm-1 control-label">Заголовок</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="title" name="title">
            </div>

            <label for="description" class="col-sm-1 control-label">Описание</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="description" name="description">
            </div>
        </div>

        <div class="form-group">
            <label for="button_text" class="col-sm-1 control-label">Текст кнопки</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="button_text" name="button_text">
            </div>

            <label for="button_url" class="col-sm-1 control-label">Адрес ссылки</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="button_url" name="button_url">
            </div>
        </div>

        <!-- Кнопка сохранения -->
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <button type="submit" class="btn btn-primary col-sm-3">Добавить</button>
            </div>
         </div>

    </form>
	
	{% if error == 1 %}
    <div class="alert alert-danger" role="alert">
        <strong>Заполнены не все обязательны поля</strong>
    </div>
    {% endif %}
</div>
{% endblock content %}