{% extends 'app/admin_panel_base.html' %}
{% block content %}
<div class="container-fluid">
    <ol class="breadcrumb">
      <li><a href="/">Главная</a></li>
      <li><a href="/adm/">Администрирование</a></li>
      <li><a href="/adm/articles/">Статьи</a></li>
      <li class="active">Редактирование</li>
    </ol>

    <h1>Редактирование статьи</h1>
    <form action="" method="post" class="form-horizontal">{% csrf_token %}
        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">Заголовок статьи</label>
            <div class="col-sm-4">
                {{ form.title }}
            </div>
        </div>

        <div class="form-group">
            <label for="published" class="col-sm-2 control-label">Опубликовано</label>
            <div class="col-sm-2">
                <div class="material-switch">
                    {{ form.published }}
                    <label for="id_published" class="label-primary"></label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="intro" class="col-sm-2 control-label">Вступительная часть статьи</label>
            <div class="col-sm-10">
                {{ form.intro }}
            </div>
        </div>

        <div class="form-group">
            <label for="text" class="col-sm-2 control-label">Полный текст статьи</label>
            <div class="col-sm-10">
                {{ form.text|safe }}
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary col-sm-3">Сохранить статью</button>
            </div>
         </div>

    </form>
</div>
{% endblock content %}