{% extends 'app/admin_panel_base.html' %}
{% block content %}
<div class="container-fluid">
    <ol class="breadcrumb">
      <li class="active">Администрирование</li>
    </ol>
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading active">
                    <strong><a href="solutions">Решения</a></strong>
                    <span class="actions">
                        <a class="btn btn-default btn-sm" href="adm/solutions/add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                    </span>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                    {% if solutions %}
                        {% for solution in solutions %}
                        <a class="list-group-item" href="/adm/solutions/{{ solution.pk }}"><img src="/../{{solution.desc_short_image}}" class="img-circle sol_thumb">{{ solution.title }}</a>
                        {% endfor %}
                    {% else %}
                        <a class="list-group-item" href="solutions/add">Добавить...</a>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading active">
                    <strong><a href="/adm/articles">Статьи</a></strong>
                    <span class="actions">
                        <a class="btn btn-default btn-sm" href="/adm/articles/add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                    </span>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                    {% if articles %}
                        {% for article in articles %}
                        <a class="list-group-item" href="articles/{{ article.pk }}">{{ article.title }}</a>
                        {% endfor %}
                    {% else %}
                        <a class="list-group-item" href="articles/add">Добавить...</a>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="col-xs-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading active">
                    <strong><a href="products">Товары</a></strong>
                    <span class="actions">
                        <a class="btn btn-default btn-sm" href="products/add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                    </span>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <a class="list-group-item" href="#">Товар 1</a>
                        <a class="list-group-item" href="#">Товар 2</a>
                        <a class="list-group-item" href="#">Товар 3</a>
                        <a class="list-group-item" href="#">Товар 4</a>
                        <a class="list-group-item" href="#">Товар 5</a>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading active">
                    <strong><a href="orders">Заказы</a></strong>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <a class="list-group-item" href="#">Заказ 1</a>
                        <a class="list-group-item" href="#">Заказ 2</a>
                        <a class="list-group-item" href="#">Заказ 3</a>
                        <a class="list-group-item" href="#">Заказ 4</a>
                        <a class="list-group-item" href="#">Заказ 5</a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}