{% extends 'app/admin_panel_base.html' %}
{% block content %}
{% load mytags %}
<div class="container-fluid">
    <ol class="breadcrumb">
        <li><a href="/">Главная</a></li>
        <li><a href="/adm/">Администрование</a></li>
        <li class="active">Пользователи</li>
    </ol>
    <h1>Пользователи
    <span class="actions">
        <a class="btn btn-default" href="add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
    </span>
    </h1>
    {% if profiles %}
    <table class="table table-striped"> 
        <thead> 
            <tr> 
                <th class="hidden-xs hidden-sm">#</th> 
                <th>Логин</th> 
                <th>Фамилия</th>
                <th>Имя</th>
                <th class="hidden-xs hidden-sm hidden-md">Отчество</th>
                <th>Компания</th>
                <th class="hidden-xs hidden-sm">Адрес</th>
                <th class="hidden-xs hidden-sm">Телефон</th>
                <th>X</th>
            </tr> 
        </thead> 
        <tbody>
            {% for profile in profiles %}
            <tr>
                <th class="hidden-xs hidden-sm" scope="row">{{ forloop.counter }}</th>
                <td>
                <img src="/../../media/users/{{profile.user.userprofile.avatar|thumb}}" class="image_profile_thumb_25">
                <a href="/adm/user/{{ profile.pk }}/">{{ profile.user.username }}</a></td>
                <td>{{ profile.user.last_name }}</td>
                <td>{{ profile.user.first_name }}</td>
                <td class="hidden-xs hidden-sm hidden-md">{{ profile.patronymic }}</td>
                <td>{{ profile.company }}</td>
                <td class="hidden-xs hidden-sm">{{ profile.address }}</td>
                <td class="hidden-xs hidden-sm">{{ profile.phone }}</td>
                <td>
                    {% if profile.user.is_superuser == 1 and forloop.counter == 1 %}
                    <span class="glyphicon glyphicon-king" aria-hidden="true" title="Суперадминистратор"></span>
                    {% else %}
                    <a class="btn btn-default btn-xs" href="/adm/users/delete/{{ profile.pk }}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                    {% endif %}
                </td>
            </tr> 
            {%endfor%}
        </tbody>
    </table>
    {%else%}
    <p>Пользователей не найдено.</p>
    {% endif %}
</div>
{% endblock content %}