{% extends 'app/admin_panel_base.html' %}
{% block content %}
<div class="container-fluid">
    <ol class="breadcrumb">
      <li><a href="/">Главная</a></li>
      <li><a href="/adm/">Администрирование</a></li>
      <li><a href="/adm/pages/">Страницы</a></li>
      <li class="active">Редактирование</li>
    </ol>

    <h1>Редактирование страницы</h1>
    <form action="" method="post" class="form-horizontal">{% csrf_token %}
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Имя страницы</label>
            <div class="col-sm-4">
                {{ form.name }}
            </div>
        </div>

        <div class="form-group">
            <label for="visible" class="col-sm-2 control-label">Видимость</label>
            <div class="col-sm-2">
                <div class="col-sm-2">
                    <div class="material-switch">
                        {{ form.visible }}
                        <label for="id_visible" class="label-primary"></label>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="url" class="col-sm-2 control-label">Адрес</label>
            <div class="col-sm-10">
                 {{ form.url }}
            </div>
        </div>

        <div class="form-group">
            <label for="text" class="col-sm-2 control-label">Полный текст</label>
            <div class="col-sm-10">
                {{ form.text|safe }}
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary col-sm-3">Сохранить страницу</button>
            </div>
         </div>

    </form>
</div>
{% endblock content %}