{% extends 'app/admin_panel_base.html' %}
{% block content %}
<div class="container-fluid">
    <ol class="breadcrumb">
      <li><a href="/">Главная</a></li>
      <li><a href="/adm/">Администрирование</a></li>
      <li class="active">Загрузка файлов</li>
    </ol>
    <div class="row">
    <div class="col-sm-4 col-md-4">
    <h1>Загрузка файлов</h1>
    <form action="{% url 'admin_image_upload' %}" method="post" enctype="multipart/form-data" class="navbar-form navbar-left">{% csrf_token %}
        <div class="form-group">
            <label class="btn btn-default btn-file">Выбрать файл<input type="file" name="upload_image" id="upload_image" style="display: none;"></label>
        </div>
        <button type="submit" class="btn btn-primary">Загрузить</button>
    </form>
    </div>
    </div>
    {% if file %}
    <div class="row">
      <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
          <img src="../../media/{{file}}">
          <div class="caption">
            <h5>/media/{{file}}</h5>
            <p>Размер: {{size}} байт</p>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
</div>
{% endblock content %}