{% extends 'app/admin_panel_base.html' %}
{% block content %}
<div class="container-fluid">
    <ol class="breadcrumb">
      <li><a href="/">Главная</a></li>
      <li><a href="/adm/">Администрирование</a></li>
      <li><a href="/adm/menu/">Меню</a></li>
      <li class="active">Редактирование</li>
    </ol>
    <h1>Добавление пункта меню</h1>
    <form action="" method="post" class="form-horizontal">{% csrf_token %}
        <div class="form-group">
            <label for="order" class="col-sm-2 control-label">Порядок</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="order" name="order" value="0" required >
            </div>

            <label for="name" class="col-sm-2 control-label">Имя</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="name" name="name"  required >
            </div>
        </div>

        <div class="form-group">
            <label for="parent" class="col-sm-2 control-label">Родительский пункт</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="parent" name="parent">
            </div>

            <label for="title" class="col-sm-2 control-label">Заголовок</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="title" name="title" required >
            </div>
        </div>


        <div class="form-group">
            <label for="url" class="col-sm-2 control-label">Адрес ссылки</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="url" name="url" required >
            </div>

            <label for="is_parent" class="col-sm-2 control-label">Подпункты</label>
            <div class="col-sm-4">
                <div class="material-switch">
                    <input type="checkbox" id="is_parent" name="is_parent" checked>
                    <label for="is_parent" class="label-primary"></label>
                </div>
            </div>
        </div>

        <!-- Кнопка сохранения -->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary col-sm-3">Добавить</button>
            </div>
         </div>

    </form>
</div>
{% endblock content %}