{% extends 'app/admin_panel_base.html' %}
{% block content %}
<div class="container-fluid">
<ol class="breadcrumb">
  <li><a href="/">Главная</a></li>
  <li><a href="/adm/">Администрирование</a></li>
  <li><a href="/adm/feedback/">Обратная связь</a></li>
  <li class="active">Ответ</li>
</ol>
<h1>Сообщение</h1>

<div class="col-xs-3 col-md-2 text-right line-offset"><strong>Автор:</strong></div><div class="row col-xs-9 col-sm-9 col-md-9 line-offset">{{feedback.author}}</div>
<div class="col-xs-3 col-md-2 text-right line-offset"><strong>IP:</strong></div><div class="row col-xs-9 col-sm-9 col-md-9 line-offset">{{feedback.ip}}</div>
<div class="col-xs-3 col-md-2 text-right line-offset"><strong>EMail:</strong></div><div class="row col-xs-9 col-sm-9 col-md-9 line-offset">{{feedback.email}}</div>
<div class="col-xs-3 col-md-2 text-right line-offset"><strong>Дата:</strong></div><div class="row col-xs-9 col-sm-9 col-md-9 line-offset">{{feedback.created_date|date:'j E Y H:i'}}</div>
<div class="col-xs-3 col-md-2 text-right line-offset"><strong>Тема:</strong></div><div class="row col-xs-9 col-sm-9 col-md-9 line-offset">{{feedback.topic}}</div>
<div class="col-xs-3 col-md-2 text-right line-offset"><strong>Текст:</strong></div><div class="row col-xs-9 col-sm-9 col-md-9 line-offset"><div class="panel panel-default"><div class="panel-body wr">{{feedback.text}}</div></div></div>
<div class="gridrow"></div>
<h1>Ответ</h1>
<form action="" method="post" id="feedback_answer" class="form-horizontal">{% csrf_token %}
    <div class="form-group">
        <label for="url" class="col-sm-2 control-label">Адрес для ответа:</label>
        <div class="col-sm-10">
             <input type="email" class="form-control" id="email" required name="email" placeholder="Введите ваш email" {% if feedback %}value="{{feedback.email}} "{% endif %} maxlength=50>
        </div>
    </div>

    <div class="form-group">
        <label for="text" class="col-sm-2 control-label">Полный текст:</label>
        <div class="col-sm-10">
        <textarea class="form-control" id="text" name="text" rows="8" required maxlength=1500>{% if feedback %}
Здравствуйте, {{feedback.author}}.
Вы писали: {{feedback.text}}


--
С уважением, {{request.user.last_name}} {{request.user.first_name}}
Компания "Ладья Телематика".
{% endif %}</textarea>
        </div>
    </div>
    <div class="alert alert-info alert-hidden" id="alert" role="alert"><strong>Ваше сообщение отправлено успешно.</strong></div>
    <div class="alert alert-danger alert-hidden" id="alert-red" role="alert"><strong>Ошибка при отправке сообщения</strong></div>   
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary col-sm-3 delimiter">Отправить ответ</button>
            <a href="/adm/feedback/delete/{{feedback.pk}}"class="btn btn-danger col-sm-3 col-md-2">Удалить сообщение</a>
        </div>
    </div>
</form>
</div>
{% endblock content %}