{% load staticfiles %}
{% load mytags %}
<html lang="ru">
<head>
    <title>Администрирование</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static '../../static/img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static '../../static/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '../../static/css/base-style.css' %}?v={% random_int 1 9000 %}">
    <link rel="stylesheet" href="{% static '../../static/css/image-picker.css' %}">
    <script type="text/javascript" src="{% static '../../static/django_summernote/summernote.min.js' %}"></script>
    <script type="text/javascript" src="{% static '../../static/js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static '../../static/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static '../../static/js/image-picker.js' %}"></script>


</head>
<body>
    {% include "app/admin_panel_navbar.html" %}

    {% block content %}
    {% endblock %}
    <script type="text/javascript" src="{% static '../../static/js/app.js' %}?v={% random_int 1 2000 %}"></script>
</body>
</html>