{% extends 'app/admin_panel_base.html' %}
{% block content %}
<div class="container-fluid">
    <ol class="breadcrumb">
      <li><a href="/">Главная</a></li>
      <li><a href="/adm/">Администрирование</a></li>
      <li class="active">Статьи</li>
    </ol>
    <h1>Статьи
    <span class="actions">
        <a class="btn btn-default" href="add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
    </span>
    </h1>
    {% if articles %}
    <table class="table table-striped"> 
        <thead>
            <tr>
                <th>#</th>
                <th>Заголовок</th>
                <th>Опубликовано</th>
                <th class="hidden-xs">Автор</th>
                <th class="hidden-xs hidden-sm">Дата создания</th>
                <th>X</th>
            </tr>
        </thead>
        {% for article in articles %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="/adm/articles/{{ article.pk }}/"> {{ article.title }} </a></td>
            <td class="hidden-xs">{% if article.published == True %}Да{% else %}Нет{% endif %}</td>
            <td>{{ article.author.first_name }} {{ article.author.last_name }}</td>       
            <td class="hidden-xs hidden-sm">{{ article.created_date }}</td>
            <td><a class="btn btn-default" href="/adm/articles/delete/{{ article.pk }}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>Статей не найдено</p>
    {% endif %}
</div>
{% endblock content %}