{% extends 'app/admin_panel_base.html' %} {% block content %}
<div class="container-fluid">
    <ol class="breadcrumb">
        <li><a href="/">Главная</a></li>
        <li><a href="/adm/">Администрирование</a></li>
        <li class="active">Настройки сайта</li>
    </ol>
    <h1>Настройки сайта</h1>
    <form action="" method="post" id="settings_form" class="form-horizontal">{% csrf_token %}
        <div class="form-group">
            <label for="site_active" class="col-sm-2 control-label">Режим работы</label>
            <div class="col-sm-2">
                <select class="form-control" id="site_active" name="site_active">
                    <option value=1 {% if settings.site_active == 1 %}selected{% endif %}>Активен</option>
                    <option value=0 {% if settings.site_active == 0 %}selected{% endif %}>Профилактика</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="site_message" class="col-sm-2 control-label">Сообщение при закрытии</label>
            <div class="col-sm-4">
                <textarea class="form-control" id="site_message" rows="3" name="site_message" required>{{settings.site_message}}</textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="address" class="col-sm-2 control-label">Адрес:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control col-sm-2" id="address" name="address" required value="{{settings.address}}">
            </div>
        </div>

        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">E-Mail:</label>
            <div class="col-sm-4">
                <input type="email" class="form-control col-sm-2" id="email" name="email" required value="{{settings.email}}">
            </div>
        </div>

        <div class="form-group">
            <label for="phone" class="col-sm-2 control-label">Телефон:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control col-sm-2" id="phone" name="phone" required value="{{settings.phone}}">
            </div>
        </div>
        <div class="alert alert-info alert-hidden" id="alert" role="alert"><strong>Ваше сообщение отправлено успешно.</strong></div>
        <div class="alert alert-danger alert-hidden" id="alert-red" role="alert"><strong>Ошибка при отправке сообщения</strong></div>
        <!-- Кнопка сохранения -->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary col-sm-3">Сохранить настройки</button>
            </div>
        </div>

    </form>
</div>
{% endblock content %}