{% extends 'app/admin_panel_base.html' %}
{% block content %}
<div class="container">
    <ol class="breadcrumb">
      <li><a href="/">Главная</a></li>
      <li><a href="/adm/">Администрирование</a></li>
      <li><a href="/adm/menu/">Меню</a></li>
      <li class="active">Редактирование</li>
    </ol>
    <h1>Редактирование пункта меню: {{ item.title }}</h1>
    {% if errors %}
        <ul>
            {% for error in errors %}
                <li style="color: red;">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action="" method="post" class="form-horizontal">{% csrf_token %}
        <div class="form-group">
            <label for="order" class="col-sm-2 control-label">Порядок</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="order" name="order" value="{{ item.order }}" required >
            </div>

            <label for="name" class="col-sm-2 control-label">Имя</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="name" name="name" value="{{ item.name }}" required >
            </div>
        </div>

        <div class="form-group">
            <label for="parent" class="col-sm-2 control-label">Родительский пункт</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="parent" name="parent" value="{{ item.parent }}">
            </div>

            <label for="title" class="col-sm-2 control-label">Заголовок</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="title" name="title" value="{{ item.title }}" required >
            </div>
        </div>


        <div class="form-group">
            <label for="url" class="col-sm-2 control-label">Адрес ссылки</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="url" name="url" value="{{ item.url }}" required >
            </div>

            <label for="is_parent" class="col-sm-2 control-label">Подпункты</label>
            <div class="col-sm-4">
                <div class="material-switch">
                    <input type="checkbox" id="is_parent" name="is_parent"  {% if item.is_parent == True %} checked {% endif %}>
                    <label for="is_parent" class="label-primary"></label>
                </div>
            </div>
        </div>

        <!-- Кнопка сохранения -->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary col-sm-3">Сохранить</button>
            </div>
         </div>

    </form>
</div>
{% endblock content %}