{% extends 'app/admin_panel_base.html' %}
{% block content %}
<div class="container-fluid">
    <ol class="breadcrumb">
      <li><a href="/">Главная</a></li>
      <li><a href="/adm/">Администрирование</a></li>
      <li><a href="/adm/solutions/">Решения</a></li>
      <li class="active">Добавить</li>
    </ol>
    <h1>Добавление решения</h1>
    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">{% csrf_token %}
        <div class="form-group">
            <label for="status" class="col-sm-2 control-label">Статус решения</label>
            <div class="col-sm-2">
                <select class="form-control" id="status" name="status">
                  <option value=0 selected >Активна</option>
                  <option value=1 >Приостановлена</option>
                  <option value=2 >Профилактика</option>
                </select>
            </div>

            <label for="visible" class="col-sm-1 control-label">Видимость</label>
            <div class="col-sm-1">
                <div class="material-switch">
                    <input type="checkbox" id="visible" name="visible"  checked>
                    <label for="visible" class="label-primary"></label>
                </div>
            </div>

            <label for="order" class="col-sm-2 control-label">Порядок</label>
            <div class="col-sm-2">
                <input class="form-control" type="number" name="order" id="order" min="0" max="999" value="0" required >
            </div>
        </div>
        <div class="form-group">
            <label for="solution_name" class="col-sm-2 control-label">Имя решения (англ.)</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="name" name="name" required >
            </div>

            <label for="solution_title" class="col-sm-2 control-label">Заголовок решения</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="title" name="title" required >
            </div>
        </div>


        <div class="form-group">
            <label for="grid_desc" class="col-sm-2 control-label">Описание для сетки решений</label>
            <div class="col-sm-4">
                <textarea class="form-control" id="grid_title" rows="3" name="grid_title" required ></textarea>
            </div>

            <label for="desc_cell_image" class="col-sm-2 control-label">Изображение сетки</label>
            <div class="col-sm-2">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".sel_grid_img">Выбрать на сайте</button>
                <div class="modal fade sel_grid_img" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="gridSystemModalLabel">Выбор изображения на сайте</h4>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-body">
                            <select class="form-control img-pick" id="grid_image" name="grid_image">
                                <option data-img-label='Загруженное с компьютера' data-img-class="thumb-fixed" data-img-src='/static/img/upload.png' selected value="picked">Загруженное</option>                   
                                {% for file in files %}{% with "media/images/"|add:file as path %}
                                <option data-img-class="thumb-fixed" data-img-src='/media/images/{{file}}' value="media/images/{{file}}">{{file}}</option>
                                {% endwith %}{%endfor%}
                            </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-sm-2">
                <label class="btn btn-default btn-file">Обзор...<input type="file" accept="image/jpeg,image/png,image/gif" id ="upload_cell_image"name="upload_cell_image" style="display: none;"></label>
            </div>
        </div>

        <div class="form-group">
            <label for="control_url" class="col-sm-2 control-label">Адрес панели управления</label>
            <div class="col-sm-4">
                <input type="text" class="form-control col-sm-2" id="url_control" name="url_control"  required >
            </div>
        </div>

        <div class="form-group">
              <label for="short_desc" class="col-sm-2 control-label">Краткое описание</label>
            <div class="col-sm-10">
                {{ form.desc_short }}
            </div>
        </div>


        <div class="form-group">
            <label for="desc_short_image" class="col-sm-2 control-label">Изображение для краткого описания</label>
            <div class="col-sm-2">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Выбрать на сайте</button>
                
                <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="gridSystemModalLabel">Выбор изображения на сайте</h4>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-body">
                            <select class="form-control img-pick" id="desc_short_image" name="desc_short_image">
                                <option data-img-label='Загруженное с компьютера' data-img-class="thumb-fixed" data-img-src='/static/img/upload.png' selected value="picked">Загруженное</option>                   
                                {% for file in files %}{% with "media/images/"|add:file as path %}
                                <option data-img-class="thumb-fixed" data-img-src='/media/images/{{file}}' value="media/images/{{file}}">{{file}}</option>
                                {% endwith %}{%endfor%}
                            </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
            </div>
            <div class="col-sm-2">
                <label class="btn btn-default btn-file">Обзор...<input type="file" accept="image/jpeg,image/png,image/gif" id ="upload_sd_image"name="upload_sd_image" style="display: none;"></label>
            </div>
        </div>

        <div class="form-group">
            <label for="introduction_title" class="col-sm-2 control-label">Заголовок статьи</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="introduction_title" name="introduction_title" required >
            </div>
        </div>

        <div class="form-group">
            <label for="introduction_text" class="col-sm-2 control-label">Вступительная часть статьи</label>
            <div class="col-sm-10">
                {{ form.introduction_text }}
            </div>
        </div>

        <div class="form-group">
            <label for="full_text" class="col-sm-2 control-label">Полный текст статьи</label>
            <div class="col-sm-10">
                {{ form.full_text|safe }}
            </div>
        </div>

        <!-- Кнопка сохранения -->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary col-sm-3">Сохранить решение</button>
            </div>
         </div>

    </form>
</div>
<script type="text/javascript">
$("select.img-pick").imagepicker({hide_select: true});
</script>
{% endblock content %}