{% extends 'app/admin_panel_base.html' %}
{% block content %}
<div class="container-fluid">
    <ol class="breadcrumb">
      <li><a href="/">Главная</a></li>
      <li><a href="/adm/">Администрирование</a></li>
      <li class="active">Решения</li>
    </ol>
    <h1>Решения
    <span class="actions">
        <a class="btn btn-default" href="add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
    </span>
    </h1>
    {% if solutions %}
    <table class="table table-striped"> 
        <thead>
            <tr>
                <th>#</th>
                <th>Заголовок</th>
                <th>Статус</th>
                <th class="hidden-xs">Видимость</th>
                <th class="hidden-xs hidden-sm">Краткое описание</th>
                <th class="hidden-xs hidden-sm">Дата создания</th>
                <th>X</th>
            </tr>
        </thead>
        {% for solution in solutions %}
        <tr>
            <td>{{ solution.order }}</td>
            <td><a href="/adm/solutions/{{ solution.pk }}/"><img class="img-circle sol_thumb" src="/../../{{solution.desc_short_image}}">{{ solution.title }}</a></td>
            <td>
                {% if solution.status == 0 %}Активна{% endif %}
                {% if solution.status == 1 %}Приостановлена{% endif %}
                {% if solution.status == 2 %}Профилактика{% endif %}
            </td>
            <td class="hidden-xs">{% if solution.visible == True %}Да{% else %}Нет{% endif %}</td>
            <td class="hidden-xs hidden-sm">
                {% autoescape off %}
                    {{ solution.desc_short|striptags|truncatechars:100 }}
                {% endautoescape %}
            </td>
            <td class="hidden-xs hidden-sm">{{ solution.created_date }}</td>
            <td>
            <a class="btn btn-default" href="/adm/solutions/delete/{{ solution.pk }}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>Решений не найдено</p>
    {% endif %}
</div>
{% endblock content %}