{% load staticfiles %}
{% load mytags %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Ладья Телематика</title>
    <meta charset="utf-8">
    <base href="http://vostokgps.ru/">
    <meta name="rights" content="Ладья Телематика">
    <meta property="og:url" content="http://vostokgps.ru/">
    <meta property="og:title" content="Ладья Телематика - онлайн мониторинг">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Ладья Телематика - сервис онлайн мониторинга транспорта и судов.">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="keywords" content="ладья телематика, находка, мониторинг, суда, транспорт, спутниковый, отслеживание, gps, глонасс">
    <meta name="description" content="Ладья Телематика - сервис онлайн мониторинга транспорта и судов.">
    <meta name="author" content="admin">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="yandex-verification" content="009fee509072f77b" />
    <link rel="icon" href="{% static '../../static/img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static '../../static/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '../../static/css/carousel.css' %}?v={% random_int 1 2000 %}">
    <link rel="stylesheet" href="{% static '../../static/css/base-style.css' %}?v={% random_int 1 2000 %}">

</head>
<body>
    {% include "app/navbar.html" %}
    <div class="container navbar-offset"> 
    {% block content %}

    {% endblock %}
	</div>

    <script src="{% static '../../static/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static '../../static/js/bootstrap.min.js' %}"></script>
    <script src="{% static '../../static/js/app.js' %}?v={% random_int 1 2000 %}"></script>
    <script type="text/javascript" > (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter45969015 = new Ya.Metrika({ id:45969015, clickmap:true, trackLinks:true, accurateTrackBounce:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/45969015" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
</body>
</html>