{% if a %}
<div class="col-sm-12 gray-lighter">
    <h1>Статьи</h1>
    {% for ac in a %}
    <div class="col-sm-6 col-md-4 left-line">
        <div class="caption">
            {% if request.user.is_staff == True %}
            <a class="btn btn-default float-button" title="Редактировать" href="/adm/articles/{{ ac.pk }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
            {% endif %}
            <h4>{{ac.title}}</h4>
            <p class="article_intro">{{ac.intro|striptags}}</p>
            <a href="/article/{{ac.pk}}" class="btn btn-default pull-right" role="button">Читать далее &raquo;</a>
        </div>
    </div>
    {% endfor %}
</div>
<hr />
{% endif %}