{% if items %}
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="8000" data-pause="hover">
    <div class="carousel-inner" role="listbox">
        {% for item in items %}
        <div class="item {% if forloop.first %}active{% endif %}">
            <img class="img-responsive slide" src="/../../media/images/{{ item.background }}">
            <div class="container">
            <div class="carousel-caption">
                <h1>{{ item.title }}{% if request.user.is_staff == True %} <a class="btn btn-sm btn-default float-button" title="Редактировать" href="/adm/slideshow/{{ item.pk }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>{%endif%}
                </h1><p>{{ item.description }}</p>
				{% if item.button_url != "#" %}
                <p><a class="btn btn-lg btn-default" href="{{ item.button_url }}" role="button">{{ item.button_text }}</a>				</p>
				{% endif %}
            </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Предыдущий</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Следующий</span>
    </a>
</div>
{% endif %}