{% extends 'app/base.html' %}
{% block content %}
{% load mytags %}

<ol class="breadcrumb">
  <li><a href="/">Главная</a></li>
  <li><a href="/solutions/">Решения</a></li>
  <li class="active">{{solution.title}}</li>
</ol>
<h1>{{solution.title}}</h1>
{% if request.user.is_staff == True %}<a class="btn btn-default float-button" title="Редактировать" href="/adm/solutions/{{ solution.pk }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>{% endif %}
{{solution.full_text|safe}}


{% render_footer %}
{% endblock content %}