{% extends 'app/base.html' %}
{% block content %}
{% load mytags %}

<ol class="breadcrumb">
  <li><a href="/">Главная</a></li>
  <li><a href="/articles/">Статьи</a></li>
  <li class="active">{{article.title}}</li>
</ol>
<h1>{{article.title}}</h1>			
{% if request.user.is_staff == True %}<a class="btn btn-default float-button" title="Редактировать" href="/adm/articles/{{ article.pk }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>{% endif %}

{{article.text|safe}}
<div class="clearfix">
<div class="text-muted pull-right ">
	<img src="/../../media/users/{{article.author.userprofile.avatar|thumb}}" class="image_profile_subtitle">
	<div class="pull-right">
		<p class="subtitle"> {{article.author.first_name}} {{article.author.last_name}}</p>
		<p class="subtitle pull-right">{{article.created_date|date:'j E Y H:i'}}</p>
	</div>
</div> </div>
<p></p>
<hr />
<p><a href="/articles/">Вернуться к списку статей</a>
{% if next_article %}<span class="pull-right">Читайте также: <a href="/articles/{{next_article.pk}}">{{next_article.title}}</a></span></p>{% endif %}


{% render_footer %}
{% endblock content %}