{% extends 'app/base.html' %}
{% load mytags %}
{% block content %}
{% if errors %}
    <ul>
        {% for error in errors %}
            <li style="color: red;">{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% render_footer %}
{% endblock content %}