{% extends 'app/base.html' %}
{% block content %}
{% load mytags %}

    <ol class="breadcrumb">
      <li><a href="/">Главная</a></li>
      <li class="active">Обратная связь</li>
    </ol>
    
    <h1>Обратная связь</h1>

    <div class="alert alert-info alert-hidden" id="alert" role="alert">
        <strong>Ваше сообщение отправлено успешно.</strong>
    </div>
    <div class="alert alert-danger alert-hidden" id="alert-red" role="alert">
        <strong>Ошибка при отправке сообщения</strong>
    </div>   
    <form action="" id="form-feedback" method="post" class="form-horizontal">{% csrf_token %}
        <div class="form-group">
            <label for="firstname" class="col-sm-2 control-label">Имя Фамилия</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="firstname" required placeholder="Введите ваши имя и фамилию"name="firstname"{% if feedback %}value="{{feedback.author}}"{% endif %} maxlength=50>
            </div>
        </div>

        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">E-Mail</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" id="email" required name="email" placeholder="Введите ваш email" {% if feedback %}value="{{feedback.email}} "{% endif %} maxlength=50>
            </div>
        </div>

        <div class="form-group">
            <label for="topic" class="col-sm-2 control-label">Тема</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="topic" required name="topic" placeholder="Введите тему обращения" {% if feedback %}value="{{feedback.topic}}"{% endif %} maxlength=100>
            </div>
        </div>

        <div class="form-group">
            <label for="text" class="col-sm-2 control-label">Текст</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="text" name="text" rows="8" required maxlength=1500>{% if feedback %}{{feedback.text}}{% endif %}</textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary col-sm-3">Отправить</button>
            </div>
        </div>
    </form>
{% render_footer %}
{% endblock content %}