<div style="clear:both"></div>
<footer class="footer-dark">
    <div class="container">
        <div class="col-sm-6 col-md-3">
            <div class="inner">
                <h5><b>&copy; Ладья Телематика</b></h5>
                <ul>
                    <li><a href="/solutions/">Решения</a></li>
                    <li><a href="/about/">О Компании</a></li>
                </ul>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="inner">
                {% if solutions %}
                <h5><b>Решения</b></h5>
                <ul>
                    {% for sol in solutions|slice:":5" %}
                    <li><a href="/solutions/{{sol.name}}">{{ sol.title }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>

        <div class="col-sm-6 col-md-6">
            <div class="inner">
                <h5><b>Контакты</b></h5>
                <address> Адрес: <a href="https://www.google.ru/maps/place/{{settings.address}}">{{settings.address}}</a>
                <br>Телефон: <a href="tel://{{settings.phone}}">{{settings.phone}}</a>
                <br>E-mail: <a href="mailto:{{settings.email}}" title="Написать письмо" target="_blank">{{settings.email}}</a>
                </address>
            </div>
        </div>

        <p class="pull-right" style="margin-right:50px"><a href="#">Наверх</a></p>
    </div>
</footer>