{% if solutions %}
<div class="grid select-grid"> 
    <div class="gridrow">
        {% for sol in solutions|slice:":4" %}
        <div class="tile col-xs-6 col-sm-3 col-md-3" style="max-height: 200px;overflow: hidden; padding: 0px;">
            <img class="select-cell" src="{{sol.grid_image}}" alt="" style="opacity: 1;">
            <div class="cell-caption">
                <h3>{{sol.title}}</h3>
                <p>{{sol.grid_title}}</p>
                <a class="btn btn-sm btn-default" href="{{sol.url_control}}" role="button">Перейти</a>
				{% if request.user.is_staff == True %}
				<a class="btn btn-sm btn-default float-button" title="Редактировать" href="/adm/solutions/{{ sol.pk }}">
				<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
				</a>
				{% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="gridrow">
        {% for sol in solutions|slice:"4:8" %}
        <div class="tile col-xs-6 col-sm-3 col-md-3" style="max-height: 200px;overflow: hidden; padding: 0px;">
            <img class="select-cell" src="{{sol.grid_image}}" alt="" style="opacity: 1;">
            <div class="cell-caption">
                <h3>{{sol.title}}</h3>
                <p>{{sol.grid_title}}</p>
                <a class="btn btn-sm btn-default" href="{{sol.url_control}}" role="button">Перейти</a>
				{% if request.user.is_staff == True %}
				<a class="btn btn-sm btn-default float-button" title="Редактировать" href="/adm/solutions/{{ sol.pk }}">
				<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
				</a>
				{% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="gridrow">
        {% for sol in solutions|slice:"8:12" %}
        <div class="tile col-xs-6 col-sm-3 col-md-3" style="max-height: 200px;overflow: hidden; padding: 0px;">
            <img class="select-cell" src="{{sol.grid_image}}" alt="" style="opacity: 1;">
            <div class="cell-caption">
                <h3>{{sol.title}}</h3>
                <p>{{sol.grid_title}}</p>
                <a class="btn btn-sm btn-default" href="{{sol.url_control}}" role="button">Перейти</a>
				{% if request.user.is_staff == True %}
				<a class="btn btn-sm btn-default float-button" title="Редактировать" href="/adm/solutions/{{ sol.pk }}">
				<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
				</a>
				{% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="gridrow">
        {% for sol in solutions|slice:"12:16" %}
        <div class="tile col-xs-6 col-sm-3 col-md-3" style="max-height: 200px;overflow: hidden; padding: 0px;">
            <img class="select-cell" src="{{sol.grid_image}}" alt="" style="opacity: 1;">
            <div class="cell-caption">
                <h3>{{sol.title}}</h3>
                <p>{{sol.grid_title}}</p>
                <a class="btn btn-sm btn-default" href="{{sol.url_control}}" role="button">Перейти</a>
				{% if request.user.is_staff == True %}
				<a class="btn btn-sm btn-default float-button" title="Редактировать" href="/adm/solutions/{{ sol.pk }}">
				<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
				</a>
				{% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}