<div class="container-fluid grid select-grid"> 
    <div class="row"> 

        <div class="tile col-xs-6 col-sm-3 col-md-3" style="max-height: 300px;overflow: hidden; padding: 0px;">
            <img class="select-cell" src="../../static/img/cell_01.jpg" alt="" style="opacity: 1;">
            <div class="cell-caption">
                <h3>Суда</h3>
                <p>Перейти к контролю вашими судами.</p>
                <a class="btn btn-lg btn-default" href="/Solutions/Shipowners" role="button">Перейти</a>
             </div>
        </div>

        <div class="tile col-xs-6 col-sm-3 col-md-3" style="max-height: 300px;overflow: hidden; padding: 0px;">
            <img class="select-cell" src="../../static/img/cell_02.jpg" alt="" style="opacity: 1;">
            <div class="cell-caption">
                <h3>Транспорт</h3>
                <p>Перейти к контролю вашим автопарком.</p>
                <a class="btn btn-lg btn-default" href="/Solutions/Shipowners" role="button">Перейти</a>

             </div>
        </div>

        <div class="tile col-xs-6 col-sm-3 col-md-3" style="max-height: 300px;overflow: hidden; padding: 0px;">
            <img class="select-cell" src="../../static/img/cell_03.jpg" alt="" style="opacity: 1;">
            <div class="cell-caption">
                <h3>Водоснабжение</h3>
                <p>Перейти к контролю водоснабжением.</p>
                <a class="btn btn-lg btn-default" href="/Solutions/Shipowners" role="button">Перейти</a>
             </div>
        </div>

        <div class="tile col-xs-6 col-sm-3 col-md-3" style="max-height: 300px;overflow: hidden; padding: 0px;">
            <img class="select-cell" src="../../static/img/cell_04.jpg" alt="" style="opacity: 1;">
            <div class="cell-caption">
                <h3>Родителям</h3>
                <p>Перейти к контролю за вашими близкими.</p>
                <a class="btn btn-lg btn-default" href="/Solutions/Shipowners" role="button">Перейти</a>
             </div>
        </div>
    </div>

    <div class="row"> 
        <div class="tile col-xs-6 col-sm-3 col-md-3" style="max-height: 300px;overflow: hidden; padding: 0px;">
            <img class="select-cell" src="../../static/img/cell_05.jpg" alt="" style="opacity: 1;">
            <div class="cell-caption">
                <h3>Насосные станции</h3>
                <p>Перейти к контролю за насосными станциями.</p>
                <a class="btn btn-lg btn-default" href="/Solutions/Shipowners" role="button">Перейти</a>
             </div>
        </div>

        <div class="tile col-xs-6 col-sm-3 col-md-3" style="max-height: 300px;overflow: hidden; padding: 0px;">
            <img class="select-cell" src="../../static/img/cell_06.jpg" alt="" style="opacity: 1;">
            <div class="cell-caption">
                <h3>Крановые установки</h3>
                <p>Перейти к контролю за крановыми установками.</p>
                <a class="btn btn-lg btn-default" href="/Solutions/Shipowners" role="button">Перейти</a>
             </div>
        </div>
        
        <div class="tile col-xs-6 col-sm-3 col-md-3" style="max-height: 300px;overflow: hidden; padding: 0px;">
            <img class="select-cell" src="../../static/img/cell_07.jpg" alt="" style="opacity: 1;">
            <div class="cell-caption">
                <h3>Производство</h3>
                <p>Перейти к контролю за производством.</p>
                <a class="btn btn-lg btn-default" href="/Solutions/Shipowners" role="button">Перейти</a>
             </div>
        </div>

        <div class="tile col-xs-6 col-sm-3 col-md-3" style="max-height: 300px;overflow: hidden; padding: 0px;">
            <img class="select-cell" src="../../static/img/cell_08.jpg" alt="" style="opacity: 1;">
            <div class="cell-caption">
                <h3>Энергетика</h3>
                <p>Перейти к контролю за энергетикой.</p>
                <a class="btn btn-lg btn-default" href="/Solutions/Shipowners" role="button">Перейти</a>
             </div>
        </div>

    </div>
</div>