{% extends 'app/base.html' %}
{% load mytags %}
{% block content %}

{% render_slideshow r=request %}
{% include "app/grid_solutions.html" %}

<div class="marketing" style="margin-top: 50px">
    {% if solutions %}
    <div class="row">
        {% for sol in solutions|slice:":4" %}
        <div class="col-sm-3 sol-item">
            {% if request.user.is_staff == True %}<a class="btn btn-default float-button" title="Редактировать" href="/adm/solutions/{{ sol.pk }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>{% endif %}
            <img class="img-circle center-block" src="{{sol.desc_short_image}}" width="140" height="140">
            <h2>{{sol.title}}</h2>
            <p>{{sol.grid_title}}</p>
            <p><a class="btn btn-default" href="/solutions/{{sol.name}}" role="button">Подробнее &raquo;</a></p>
        </div>
        {%endfor%}
    </div>
    {% endif %}
    {% if solutions %}
    <div class="row">
        {% for sol in solutions|slice:"4:8" %}
        <div class="col-sm-3 sol-item">
            {% if request.user.is_staff == True %}<a class="btn btn-default float-button" title="Редактировать" href="/adm/solutions/{{ sol.pk }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>{% endif %}

            <img class="img-circle center-block" src="{{sol.desc_short_image}}" width="140" height="140">
            <h2>{{sol.title}}</h2>
            <p>{{sol.grid_title}}</p>
            <p><a class="btn btn-default" href="/solutions/{{sol.name}}" role="button">Подробнее &raquo;</a></p>

        </div>
        {%endfor%}
    </div>
    {% endif %}
    
    {% if solutions %}
    <div class="row">
        {% for sol in solutions|slice:"8:12" %}
        <div class="col-sm-3 sol-item">
            {% if request.user.is_staff == True %}<a class="btn btn-default float-button" title="Редактировать" href="/adm/solutions/{{ sol.pk }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>{% endif %}

            <img class="img-circle center-block" src="{{sol.desc_short_image}}" width="140" height="140">
            <h2>{{sol.title}}</h2>
            <p>{{sol.grid_title}}</p>
            <p><a class="btn btn-default" href="/solutions/{{sol.name}}" role="button">Подробнее &raquo;</a></p>

        </div>
        {%endfor%}
    </div>
    {% endif %}
    <div style="clear:both"></div>
    <div class="row">
    {% render_block_articles r=request %}
    </div>
    <div style="clear:both"></div>
    <hr/>
    {% if solutions %}
    <h1 class="featurette-heading"><strong>О преимуществах наших решений</strong></h1>
    {% for sol in solutions|slice:":4" %}
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">{{sol.introduction_title}}</h2>
            {% if request.user.is_staff == True %}<a class="btn btn-default float-button" title="Редактировать" href="/adm/solutions/{{ sol.pk }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>{% endif %}
            <p class="lead">
            {{sol.introduction_text|safe}}
            </p>
            <p><a class="btn btn-primary" href="/solutions/{{sol.name}}" role="button">Подробнее &raquo;</a></p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="{{sol.desc_short_image}}">
        </div>
    </div>
    {%endfor%}
    {% endif %}
</div>
{% render_footer %}
{% endblock content %}