{% extends 'app/base.html' %}
{% load mytags %}
{% block content %}

<ol class="breadcrumb">
  <li><a href="/">Главная</a></li>
  <li class="active">Статьи</li>
</ol>
<h1>Все статьи</h1>

{% if articles %}
{% for article in articles %}
<div class="row">
	<div class="col-md-12">
		<h2><a href="/article/{{article.pk}}">{{article.title}}</a></h2>
		<p class="lead solution_desc">
		{{article.intro|safe}}
		</p>
		<a class="btn btn-default" href="/article/{{article.pk}}" role="button">Читать далее &raquo;</a>
		{% if request.user.is_staff == True %}<a class="btn btn-default float-button" title="Редактировать" href="/adm/solutions/{{ sol.pk }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>{% endif %}

		<div class="text-muted pull-right">
		<img src="/../../media/users/{{article.author.userprofile.avatar|thumb}}" class="image_profile_subtitle">
			<div class="pull-right">
				<p class="subtitle"> {{article.author.first_name}} {{article.author.last_name}}</p>
				<p class="subtitle pull-right">{{article.created_date|date:'j E Y H:i'}}</p>
			</div>
		</div>
	</div>
</div>
<hr />
{%endfor%}
{% endif %}

{% if pages_count > 1 %}
<nav aria-label="...">
	<ul class="pager">
		{% if page > 1 %}<li><a href="/articles/{{ page|decr }}">Предыдущая</a></li>{% endif %}
		<b>{{page}} / {{pages_count}}</b>
		{% if page != pages_count %}<li><a href="/articles/{{ page|incr }}">Следующая</a></li>{% endif %}   
	</ul>
</nav>
{% endif %}

{% render_footer %}
{% endblock content %}