{% extends 'app/base.html' %}
{% load mytags %}
{% block content %}

<ol class="breadcrumb">
  <li><a href="/">Главная</a></li>
  <li class="active">Решения</li>
</ol>
<h1>Все решения</h1>
{% if solutions %}
{% for sol in solutions %}
<!--hr class="featurette-divider"-->
<div class="row featurette">
	<div class="col-md-7">
		<h2>{{sol.introduction_title}}</h2>
		<p class="lead solution_desc">{{sol.introduction_text|safe}}</p>
		<p><a class="btn btn-primary" href="{{sol.name}}" role="button">Подробнее &raquo;</a></p>
	</div>
	<div class="col-md-5"><img class="featurette-image img-responsive center-block" src="/../{{sol.desc_short_image}}"></div>
</div>
{%endfor%}
{% endif %}


{% render_footer %}
{% endblock content %}