<ul class="nav navbar-nav">
	{% for item in menu_items %}
	{% if item.is_parent == True %}
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
		    {{ item.title }}<span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			{% for subitem in sub_menu_items %}
			{% if subitem.parent == item.name %}
			<li><a href="{{ subitem.url }}">{{ subitem.title }}</a></li>
			{% endif %}
			{% endfor %}
		</ul>
	</li>
	{% else %}
	<li>
        <a href="{{ item.url }}">{{ item.title }}</a>
    </li>

	{% endif %}
	

    
	{% endfor %}
	{% if request.user.is_staff == True %}
	<a class="btn btn-sm btm-sm btn-default float-button" title="Редактировать" href="/adm/menu/{{ item.pk }}">
	<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
	</a>
	{% endif %}
</ul>