{% extends 'app/base.html' %}
{% block content %}
{% load mytags %}

    <ol class="breadcrumb">
      <li><a href="/">Главная</a></li>
      <li class="active">{{title}}</li>
    </ol>
    
    <h1>{{title}}</h1>

    <div class="alert alert-info" id="alert" role="alert">
        <strong>{{text}}</strong>
    </div>

{% render_footer %}
{% endblock content %}