{% block navbar %}
{% load mytags %}
<div class="top-nav-line navbar-wrapper">
<div class="container">
<nav class="nav-bar navbar navbar-default">
	<div class="container"> 
		<div class="navbar-header"> 
			<button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> 
				<span class="sr-only">Toggle navigation</span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 
			</button>
			<a href="/" class="navbar-brand"><img alt="Brand" src="/../../static/img/logo.png"></a> 
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!-- Рендерим меню -->
			{% render_menu r=request %}

            <!-- Конец меню -->
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <img src="/../../media/users/{{request.user.userprofile.avatar|thumb}}" class="image_profile_thumb_20">
                        {{ request.user.first_name }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% if user.is_superuser %}
                        <li><a href="/adm"><span class="glyphicon glyphicon-king"></span>Администрирование</a></li>
                        <li role="separator" class="divider"></li>
                        {% endif %}
                        <li><a href="/profile"><span class="glyphicon glyphicon-home"></span> Профиль</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Выйти</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="/register">Регистрация</a></li>
                <li><a href="/login">Войти</a></li>
                {% endif %}
            </ul>
		</div>
	</div>
</nav>
</div>
</div>
{% endblock navbar %}