{% extends 'app/base.html' %}
{% block content %}
{% load mytags %}
<ol class="breadcrumb">
  <li><a href="/">Главная</a></li>
  <li class="active">{{page.name}}</li>
</ol>
{% if  request.user.is_staff == True %}
<a class="btn btn-default float-button" title="Редактировать" href="/adm/pages/{{ page.pk }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
{% endif %}
{{page.text|safe}}
{% render_footer %}
{% endblock content %}