{% extends 'app/base.html' %}
{% block content %}

{% include "app/carousel.html" %}

<div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
    <div class="col-lg-4">
        <img class="img-circle" src="../../static/img/crame_140.jpg" width="140" height="140">
        <h2>Крановые установки</h2>
        <p>Мониторинг крановых установок и контроль поднимаемого веса</p>
        <p><a class="btn btn-default" href="#" role="button">Подробнее&raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img class="img-circle" src="../../static/img/pump_140.jpg" width="140" height="140">
        <h2>Насосные станции</h2>
        <p>Мониторинг насосных станций.</p>
        <p><a class="btn btn-default" href="#" role="button">Подробнее&raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img class="img-circle" src="../../static/img/waterpump_140.jpg" width="140" height="140">
        <h2>Водоснабжение</h2>
        <p>Мониторинг водоснабжения. Контроль потребляемого объёма воды.</p>
        <p><a class="btn btn-default" href="#" role="button">Подробнее&raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <!-- START THE FEATURETTES -->
    <!--hr class="featurette-divider"-->
    <div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Ваш транспорт работает неэффективно? <span class="text-muted">Это не проблема!</span></h2>
        <p class="lead">
        Добиться от эксплуатации транспортных средств максимальной отдачи нелегко. Одной из насущных проблем было и остаётся нецелевое использование транспортных средств, приписки и хищение топлива. Компания Ладья Телематика предлагает Вам создать единую эффективную систему управления транспортом на своём предприятии. Мы предлагаем систему спутникового он-лайн мониторинга.</p>
        <p><a class="btn btn-primary" href="#" role="button">Подробнее&raquo;</a></p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" src="../../static/img/002.jpg">
    </div>
    </div>

    <!--hr class="featurette-divider"-->

    <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading">Беспокоитесь о безопасности детей?<span class="text-muted">У нас есть решение!</span></h2>
        <p class="lead">Портативная система контроля за членами семьи, позволит легко узнать их месторасположение. </p>
        <p><a class="btn btn-primary" href="#" role="button">Подробнее&raquo;</a></p>
    </div>
    <div class="col-md-5 col-md-pull-7">
        <img class="featurette-image img-responsive center-block" src="../../static/img/004.jpg">
    </div>
    </div>

    <!--hr class="featurette-divider"-->

    <div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Спутниковый мониторинг для судовладельцев. <span class="text-muted">Это просто!</span></h2>
        <p class="lead">Наша компания имеет опыт установок ГЛОНАСС/GPS оборудования на прибрежные суда и суда дальнего плавания. Судовладельцы получают возможность следить за передвижением и остановками своих судов, контролировать расход топлива путем учета оборотов и моторесурса двигателей и генераторов.</p>
        <p><a class="btn btn-primary" href="#" role="button">Подробнее&raquo;</a></p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" src="../../static/img/005.jpg">
    </div>
    </div>
    <hr class="featurette-divider">

{% include "app/footer.html" %}

</div>

{% endblock content %}