{% extends 'app/base.html' %} {% block content %} {% load mytags %}
<ol class="breadcrumb">
    <li><a href="/">Главная</a></li>
    <li class="active">Магазин</li>
</ol>


<div class="col-md-12">
    <div class="row">
        <div class="col-sm-4 col-md-3">
            <div class="thumbnail">
                <img src="/media//images/300px.png" alt="...">
                <div class="caption">
                    <h3>Заголовочный текст</h3>
                    <p class="prod-desc">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet, quis nostrum exercitationem ullam corporis suscipit laboriosam, velit esse cillum dolore eu fugiat nulla pariatur!</p>
                    <p><a href="#" class="btn btn-primary btn-mrg" role="button">Купить</a>
                    <a href="#" class="btn btn-default btn-mrg" role="button">Подробнее...</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-3">
            <div class="thumbnail">
                <img src="/media//images/300px.png" alt="...">
                <div class="caption">
                    <h3>Заголовочный текст</h3>
                    <p class="prod-desc">Temporibus autem quibusdam et aut officiis debitis astrum exercitationem ullam corporis suscipit laboriosam, velit esse cillum dolore eu fugiat nulla pariatur!</p>
                    <p><a href="#" class="btn btn-primary btn-mrg" role="button">Купить</a> <a href="#" class="btn btn-default btn-mrg" role="button">Подробнее...</a></p>
                </div>
            </div>
        </div>

        <div class="clearfix visible-xs-block"></div>

        <div class="col-sm-4 col-md-3">
            <div class="thumbnail">
                <img src="/media//images/300px.png" alt="...">
                <div class="caption">
                    <h3>Заголовочный текст</h3>
                    <p class="prod-desc">Temporibus autem quibusdam et aut officis suscipit laboriosam, velit esse cillum dolore eu fugiat nulla pariatur!</p>
                    <p><a href="#" class="btn btn-primary btn-mrg" role="button">Купить</a> <a href="#" class="btn btn-default btn-mrg" role="button">Подробнее...</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-3">
            <div class="thumbnail">
                <img src="/media//images/300px.png" alt="...">
                <div class="caption">
                    <h3>Заголовочный текст</h3>
                    <p class="prod-desc">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet, quis nostrum exercitationem ullam corporis suscipit laboriosam, velit esse cillum dolore eu fugiat nulla pariatur!</p>
                    <p><a href="#" class="btn btn-primary btn-mrg" role="button">Купить</a> <a href="#" class="btn btn-default btn-mrg" role="button">Подробнее...</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-3">
            <div class="thumbnail">
                <img src="/media//images/300px.png" alt="...">
                <div class="caption">
                    <h3>Заголовочный текст</h3>
                    <p class="prod-desc">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet, quis nostrum exercitationem ullam corporis suscipit laboriosam, velit esse cillum dolore eu fugiat nulla pariatur!</p>
                    <p><a href="#" class="btn btn-primary btn-mrg" role="button">Купить</a> <a href="#" class="btn btn-default btn-mrg" role="button">Подробнее...</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-3">
            <div class="thumbnail">
                <img src="/media//images/300px.png" alt="...">
                <div class="caption">
                    <h3>Заголовочный текст</h3>
                    <p class="prod-desc">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet, quis nostrum exercitationem ullam corporis suscipit laboriosam, velit esse cillum dolore eu fugiat nulla pariatur!</p>
                    <p><a href="#" class="btn btn-primary btn-mrg" role="button">Купить</a> <a href="#" class="btn btn-default btn-mrg" role="button">Подробнее...</a></p>
                </div>
            </div>
        </div>
        <div class="clearfix visible-xs-block"></div>
        <div class="col-sm-4 col-md-3">
            <div class="thumbnail">
                <img src="/media//images/300px.png" alt="...">
                <div class="caption">
                    <h3>Заголовочный текст</h3>
                    <p class="prod-desc">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet, quis nostrum exercitationem ullam corporis suscipit laboriosam, velit esse cillum dolore eu fugiat nulla pariatur!</p>
                    <p><a href="#" class="btn btn-primary btn-mrg" role="button">Купить</a> <a href="#" class="btn btn-default btn-mrg" role="button">Подробнее...</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-3">
            <div class="thumbnail">
                <img src="/media//images/300px.png" alt="...">
                <div class="caption">
                    <h3>Заголовочный текст</h3>
                    <p class="prod-desc">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet, quis nostrum exercitationem ullam corporis suscipit laboriosam, velit esse cillum dolore eu fugiat nulla pariatur!</p>
                    <p><a href="#" class="btn btn-primary btn-mrg" role="button">Купить</a> <a href="#" class="btn btn-default btn-mrg" role="button">Подробнее...</a></p>
                </div>
            </div>
        </div>






    </div>
</div>


{% render_footer %} {% endblock content %}