{% extends 'app/base.html' %}
{% load mytags %}
{% block content %}
<div class="container container-top">
    <ol class="breadcrumb">
      <li><a href="/">Главная</a></li>
      <li class="active">Регистрация</li>
    </ol>
    <div class="col-sm-12">
    <h1>Регистрация</h1>
    <form action="" method="post" class="form-horizontal">{% csrf_token %}
      <div class="form-group">
        <label for="username" class="col-sm-1 control-label">Логин</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="username" name="username" placeholder="Логин">
        </div>

        <label for="password" class="col-sm-1 control-label">Пароль</label>
        <div class="col-sm-3">
          <input type="password" class="form-control" id="password" name="password" placeholder="Пароль">
        </div>

        <label for="password2" class="col-sm-1 control-label">Пароль</label>
        <div class="col-sm-3">
          <input type="password" class="form-control" id="password2" name="password2" placeholder="Повтор пароля">
        </div>
      </div>

      <div class="form-group">
        <label for="first_name" class="col-sm-1 control-label">Имя</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Имя">
        </div>
        <label for="second_name" class="col-sm-1 control-label">Фамилия</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="second_name" name="second_name" placeholder="Фамилия">
        </div>
        <label for="patronymic" class="col-sm-1 control-label">Отчество</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="patronymic" name="patronymic" placeholder="Отчество">
        </div>
      </div>

      <div class="form-group">
        <label for="email" class="col-sm-1 control-label">E-Mail</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="email" name="email" placeholder="email">
        </div>

        <label for="company" class="col-sm-1 control-label">Компания</label>
        <div class="col-sm-7">
          <input type="text" class="form-control" id="company" name="company" placeholder="Компания">
        </div>
      </div>

      <div class="form-group">
        <label for="address" class="col-sm-1 control-label">Адрес компании</label>
        <div class="col-sm-7">
          <input type="text" class="form-control" id="address" name="address" placeholder="Адрес">
        </div>
        <label for="phone" class="col-sm-1 control-label">Телефон</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="phone" name="phone" placeholder="">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-10 col-sm-10">
          <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
        </div>
      </div>
    </form>

    {% if error == 1 %}
    <div class="alert alert-danger" role="alert">
        <strong>Заполнены не все обязательны поля</strong>
    </div>
    {% endif %}

    {% if error == 2 %}
    <div class="alert alert-danger" role="alert">
    <strong>Данный логин уже занят</strong>
    </div>
    {% endif %}

    {% if error == 3 %}
    <div class="alert alert-danger" role="alert">
        <strong>Данный email уже занят</strong>
    </div>
    {% endif %}



    </div>
</div>
{% render_footer %}
{% endblock content %}