{% extends 'app/base.html' %}
{% load mytags %}
{% block content %}
<div class="container container-top">
<ol class="breadcrumb">
<li><a href="/">Главная</a></li>
<li class="active">Восстановление пароля</li>
</ol>
<div class="col-sm-offset-2 col-sm-8">
<h1>Восстановление пароля</h1>
<p>Укажите адрес электронной почты, который был указан при регистрации. На этот адрес будет отправлено письмо с инструкцией по восстановлению пароля.</p>
<form action="" method="post" class="form-horizontal">{% csrf_token %}
<div class="form-group">
<label for="email" class="col-sm-2 control-label">E-Mail:</label>
<div class="col-sm-10">
<input type="text" class="form-control" id="email" name="email" placeholder="Email">
</div>
</div>
<div class="form-group">
<div class="col-sm-offset-2 col-sm-10">
<button type="submit" class="btn btn-primary">Отправить письмо</button>
</div>
</div>
</form>
{% if error == 1 %}
<div class="alert alert-danger" role="alert">
<strong>Пользователя с данным email не найдёно.</strong>
</div>
{% endif %}

{% if error == 2 %}
<div class="alert alert-danger" role="alert">
<strong>Пользователь не активировал аккаунт.</strong>
</div>
{% endif %}

{% if error == 3 %}
<div class="alert alert-success" role="alert">
<strong>Ссылка на востановление отправлена на ваш email.</strong>
</div>
{% endif %}

</div>
</div>
{% render_footer %}
{% endblock content %}