{% extends 'app/base.html' %}
{% load mytags %}
{% block content %}
<div class="container-top">
    <ol class="breadcrumb">
        <li><a href="/">Главная</a></li>
        <li class="active">Просмотр профиля</li>
    </ol>
<div class="row">
<div class="col-sm-6 col-sm-offset-3">
<div class="panel panel-default">
<div class="panel-heading">  <h4 >Профиль</h4></div>
<div class="panel-body">
    <div class="box box-info">
        <div class="box-body">
            <div class="col-sm-6">
                <div align="center">
                    <img  src="/../../media/users/{% if request.user.userprofile.avatar == "" %}unknown.jpg{% else %}{{request.user.userprofile.avatar}}{%endif%}" id="profile-image" class="img-responsive image_profile">          
                </div>       
                <br>
            </div>
            <div class="col-sm-6" align="center">
                <h4>{{request.user.first_name}} {{request.user.last_name}}</h4>
                <a href="/profile/edit">Редактировать профиль</a>
            </div>
            <div class="profile">
                <div class="clearfix"></div>
                <hr style="margin:5px 0 5px 0;">
                <div class="col-sm-5 col-xs-6 title" >Логин:</div><div class="col-sm-7 col-xs-6 ">{{request.user.username}}</div>
                <div class="col-sm-5 col-xs-6 title" >Имя:</div><div class="col-sm-7"> {{request.user.first_name}}</div>
                <div class="col-sm-5 col-xs-6 title" >Фамилия:</div><div class="col-sm-7">{{request.user.last_name}}</div>
                <div class="col-sm-5 col-xs-6 title" >Отчество:</div><div class="col-sm-7"> {{request.user.userprofile.patronymic}}</div>
                <div class="col-sm-5 col-xs-6 title" >Email:</div><div class="col-sm-7">{{request.user.email}}</div>
                <div class="col-sm-5 col-xs-6 title" >Компания:</div><div class="col-sm-7">{{request.user.userprofile.company}}</div>
                <div class="col-sm-5 col-xs-6 title" >Адрес:</div><div class="col-sm-7">{{request.user.userprofile.address}}</div>
                <div class="col-sm-5 col-xs-6 title" >Телефон:</div><div class="col-sm-7">{{request.user.userprofile.phone}}</div>
            </div>
            <!-- /.box-body -->
        </div>
    <!-- /.box -->
    </div>
</div>
</div>
</div>
</div>
</div>




</div>
{% render_footer %}
{% endblock content %}