{% extends 'app/base.html' %}
{% load mytags %}
{% block content %}
<div class="container-top">
    <ol class="breadcrumb">
      <li><a href="/">Главная</a></li>
      <li><a href="/profile/">Профиль</a></li>
      <li class="active">Редактирование</li>
    </ol>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading"><h4>Редактирование профиля</h4></div>
                <div class="panel-body profile">
                    {% if error == 1 %}
                    <div class="alert alert-info" role="alert">
                        <strong>Даные профиля успешно обновлены</strong>
                    </div>
                    {% endif %}

                    {% if error == 2 %}
                    <div class="alert alert-danger" role="alert">
                        <strong>Заполнены не все поля</strong>
                    </div>
                    {% endif %}
                    {% if error == 3 %}
                    <div class="alert alert-danger" role="alert">
                        <strong>Указан неверный старый пароль</strong>
                    </div>
                    {% endif %}

                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">{% csrf_token %}
                        
                        <div class="form-group">
                            <img src="/../../media/users/{% if request.user.userprofile.avatar == "" %}unknown.jpg{% else %}{{request.user.userprofile.avatar}}{%endif%}" id="profile-image" class="image_profile img-responsive center-block">
                        </div>
                        <div class="form-group">
                            <label for="upload_image" class="col-sm-6 control-label">Фото</label>
                            <div class="col-sm-5">
                            <label class="btn btn-default btn-file">Выбрать изображение<input type="file" name="upload_image" style="display: none;" accept="image/jpeg,image/png,image/gif"></label>
                            </div>
                        </div>                   
                        <div class="form-group">
                            <label for="username" class="col-sm-6 control-label">Логин</label>
                            <div class="col-sm-5">
                                {{request.user.username}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password" class="col-sm-6 control-label">Старый Пароль</label>
                            <div class="col-sm-5">
                                <input type="password" class="form-control" id="old_pass" name="old_pass" placeholder="Старый пароль">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password2" class="col-sm-6 control-label">Новый Пароль</label>
                            <div class="col-sm-5">
                                <input type="password" class="form-control" id="new_pass" name="password" placeholder="Новый пароль">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="first_name" class="col-sm-6 control-label">Имя</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Имя" value="{{request.user.first_name}}">
                            </div>     
                        </div>

                        <div class="form-group">
                            <label for="second_name" class="col-sm-6 control-label">Фамилия</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="second_name" name="second_name" placeholder="Фамилия" value="{{request.user.last_name}}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="patronymic" class="col-sm-6 control-label">Отчество</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="patronymic" name="patronymic" placeholder="Отчество" value="{{request.user.userprofile.patronymic}}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email" class="col-sm-6 control-label">E-Mail</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="email" name="email" placeholder="email" value="{{request.user.email}}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="company" class="col-sm-6 control-label">Компания</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="company" name="company" placeholder="Компания" value="{{request.user.userprofile.company}}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="address" class="col-sm-6 control-label">Адрес компании</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="address" name="address" placeholder="Адрес" value="{{request.user.userprofile.address}}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="phone" class="col-sm-6 control-label">Телефон</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="phone" name="phone" placeholder="" value="{{request.user.userprofile.phone}}">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <hr style="margin:5px 0 5px 0;">
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-8">
                                <button type="submit" class="btn btn-primary">Сохранить профиль</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% render_footer %}
{% endblock content %}