{% extends 'app/base.html' %}
{% load mytags %}
{% block content %}
<div class="container container-top">
    <ol class="breadcrumb">
      <li><a href="/">Главная</a></li>
      <li class="active">Вход</li>
    </ol>
    <div class="col-sm-offset-2 col-sm-8">
    <h1>Авторизация</h1>
    <form action="" method="post" class="form-horizontal">{% csrf_token %}
      <div class="form-group">
        <label for="username" class="col-sm-2 control-label">Логин</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="username" name="username" placeholder="Имя пользователя">
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="col-sm-2 control-label">Пароль</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="password" name="password" placeholder="Пароль">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary">Войти</button><a href="/forgot" class="btn btn-lnk">Забыли пароль?</a>
        </div>
      </div>
    </form>

    {% if error == 1 %}
    <div class="alert alert-danger" role="alert">
        <strong>Указан неверный логин или пароль.</strong>
    </div>
    {% endif %}
    {% if error == 2 %}
    <div class="alert alert-success" role="alert">
    <strong>Письмо для восстановления пароля отправлено.</strong>
    </div>
    {% endif %}

    {% if error == 3 %}
    <div class="alert alert-success" role="alert">
    <strong>Письмо для активации аккаунта отправлено. Проверьте свой ящик электронной почты.</strong>
    </div>
    {% endif %}
    {% if error == 4 %}
    <div class="alert alert-success" role="alert">
    <strong>Учётная запись подтверждена.</strong>
    </div>
    {% endif %}
    {% if error == 5 %}
    <div class="alert alert-success" role="alert">
    <strong>Код активации не существует.</strong>
    </div>
    {% endif %}
    
    </div>
</div>
{% render_footer %}
{% endblock content %}